#credits, .inventoryHeader, .action, button, .question {
  font-family: "Description";
}

.startSelect {
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  width: 80vw;
  height: 70vw;
  top: 3vh;
  margin-bottom: 5vw;
}

#inventory {
  padding-top: 2vw;

  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  width: 20vw;
  top: 20vw;
}

.inventoryHeader, .action {
  font-size: 3.5vw;
}

.action {
  cursor: pointer;
}

button {
  background-color: #DAFF7F;
  border: 1px solid black;
  border-radius: 2px;
  font-weight: bold;
}

.current {
  text-shadow: 2px 2px 5px green;

}

.charDiv {
  display: inline-block;
  margin: 0.5vw;
  width: 15vw;
  height: 15vw;
}

.charDiv:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.charPic {
  max-width: 15vw;
  max-height: 15vw;
}

.playersPicMain {
  max-width: 15vw;
  max-height: 15vw;
}

#players {
  position: absolute;
  width: 20vw;
  top: 20vw;
  left: 80vw;
}

#garden {
  position: fixed;
  width: 100vw;
  top: 70vh;
  left: 0;
  height: 30vh;
  z-index: 0;
}

#openHelpButton {
  width: 3.5vw;
  height: 3.5vw;
  position: absolute;
  left: 85vw;
  top: 5vw;
}

#openHelpButton:hover {
  width: 4vw;
  height: 4vw;
  cursor: pointer;

}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: none;

}

.modalMain {
  position: relative;
  width: 50vw;
  height: 35vw;
  top: 30vw;

  background-color: rgba(203, 238, 116, 1);
}

#helpModalMain {
overflow-y: scroll;
width: 70vw;
height: 60vw;
top: 23vw;
}

#closeHelpButton {
  position: fixed;
  left: 79vw;
  top: 25vw;
  width: 4vw;
  height: 4vw;
  font-size: 3vw;
}

#music {
  position: relative;
  top: 5vw;
}

.choices {
  position: relative;
  top: 10vw;

}
 
.choiceDiv:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.choiceDiv {
  display: contents;
  cursor: pointer;

}

.choice {
  display: inline;
  padding: 1vw;

}

.question {
  position: relative;
  font-size: 4vw;
  top: 5vw;
}

.blackout{
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
}
.charName {
    font-size: 3vw;
    margin: 0;
    font-family: "Header";
}


.startTitle {
  font-family: "Title";
  font-size: 8.5vw;
  text-shadow: 2px 2px 5px green;
}

.playingTitle {
  font-size: 7vw;
  position: absolute;
  left: 2vw;
  top: 2vw;
  margin: 0;
}

#howToDiv {
  position: relative;
  padding: 3vw;
  top: 3vw;
}

#howToTitle {
  font-family: "Header";
  font-size: 5vw;
}

.howToInstruction, ol {
  font-family: "Description";
text-align: left;
width: 60vw;
padding-left: 3vw;
font-size: 3vw;

}

.howToHeading {
  font-family: "Description";
font-size: 3.5vw;
}

.selectTag {
  font-family: "Header";
  font-size: 4vw;
}

#gameDes {
  font-family: "Description";
  font-size: 4vw;
  margin: 1.5vw;
}

.playerName, .score {
  font-family: "Description";
  margin: 0;
  font-size: 3vw;
}

#roomCode {
  position: absolute;
  top: 10vw;
  left: 55vw;
  font-family: "Description";
  font-size: 3vw;
}

#strikes {
  font-family: "Description";
  position: absolute;
  left: 7vw;
  top: 15vw;
  font-size: 3vw;
}

.empty {
  font-family: "Description";
  color: gray;
  font-size: 2.5vw;
  padding: 2vw;
}


#chat {
  position: absolute;
  top: 20vw;
  left: 25vw;
}

#chatbox {
  width: 52vw;
  background-color: rgba(203, 238, 116, 0.9);
  height: 60vh;
  overflow-y: scroll;
}

#chatControls {
  position: relative;
  top: 5vh;
}

.chatEvent {
  font-family: Chat;
  font-size: 2.5vw;
  position: relative;
  float: left;
  padding: 0 2vw;
  display: table-row-group;
}

.move {
  color: green;
}

.chatPost {
  color: peru;
}

.action:hover {
  text-shadow: 2px 2px 5px green;
}

.stashItem {
  max-width: 10vw;
  max-height: 10vw;
  display: inline;
  position: relative;
}

.vegPoints {
  position: relative;
  top: -10vw;
  left: -5vw;
  display: inline;

 
}

.vegDiv {
  max-width: 10vw;
  max-height: 10vw;
  display: contents;

}

body {
  background-image: url("./static/grass.png");
  background-repeat: repeat; 
}

@font-face {
  font-family: Title;
  src: url("./static/c.otf") format("opentype");
}

@font-face {
  font-family: Header;
  src: url("./static/b.ttf") format("opentype");
}

@font-face {
  font-family: Description;
  src: url("./static/g.ttf") format("opentype");
}

@font-face {
  font-family: Chat;
  src: url("./static/h.ttf") format("opentype");
}




