#charSelect {
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  width: 80vw;
  height: 70vw;
  top: 3vh;
  margin-bottom: 5vw;
}

.charDiv {
  display: inline-block;
  margin: 0.5vw;
  width: 15vw;
  height: 15vw;
}

.charDiv:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.charPic {
 
    max-width: 15vw;
    max-height: 15vw;
}

.charName {
    font-size: 3vw;
    margin: 0;
    font-family: "Header";
}

.charDes, .charFave {
    font-size: 2.5vw;
    margin: 0;
    font-family: "Description";
}

#title {
  font-family: "Title";
  font-size: 8.5vw;
  text-shadow: 2px 2px 5px green;
}

#selectTag {
  font-family: "Header";
  font-size: 4vw;
}

#gameDes {
  font-family: "Description";
  font-size: 4vw;
  margin: 1.5vw;
}

body {
  background-image: url("./static/grass.png");
  background-repeat: repeat; 
}

@font-face {
  font-family: Title;
  src: url("./static/c.otf") format("opentype");
}

@font-face {
  font-family: Header;
  src: url("./static/b.ttf") format("opentype");
}

@font-face {
  font-family: Description;
  src: url("./static/g.ttf") format("opentype");
}




